
<%= erb :navpartial %>

<ul class = "collection container">

  <% @robots.each do |robot|%>
    <li class = "collection-item avatar center clearfix indigo lighten-5">
      <h5><a class = "black-text left" href='/robots/<%=robot.id%>'><%=robot.name%></a></h5>
      <img class= "circle" src="https://robohash.org/<%=robot.name%>">
      <table>
        <thead>
          <tr>
            <th>City</th>
            <th>State</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= robot.city%></td>
            <td><%= robot.state%></td>
            <td><%= robot.department%></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-floating indigo lighten-1">
        <a href='/robots/<%=robot.id%>/edit'><span class="white-text">Edit</span></a>
      </div>
      <form action='/robots/<%=robot.id%>' method= "POST">
        <input type="hidden" name="_method" value="DELETE" />
        <input class= "btn red lighten-2 secondary-content" type="submit" value="Delete" />
      </form>
    </li>
  <%end%>
</ul>
