<%= erb :navpartial %>

  <div class="col s12 m7">
     <h2 class="header center"><%= @robot.name%></h2>
     <div class="card horizontal">
       <div class="card-image">
         <img src="https://robohash.org/<%=@robot.name%>">
       </div>
       <div class="card-stacked">
         <div class="card-content center">
           <table>
             <thead>
               <tr>
                 <th>City</th>
                 <th>State</th>
                 <th>Department</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td><%= @robot.city%></td>
                 <td><%= @robot.state%></td>
                 <td><%= @robot.department%></td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
